
.track_small .imag, .track .imag{
    height: 44px !important;
    width: 44px !important;
}

.drop_down {
    /*max-height: 500px;*/
    overflow: scroll;
    display: flex;
    overflow-x: unset;
    overflow-y: auto;
    max-height: 400px;
    background-color: rgba(0, 0, 0, 0.19);
    scroll-behavior: smooth;
    position: relative;
    min-height: 0px;
    /*height: 500px;*/
    padding-top: 0 !important;
}

.dropdown-divider {
    margin: 0 !important;
}
